@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:wght@300;400&family=Lobster+Two&family=Open+Sans:wght@400;500&family=Righteous&family=Shippori+Antique+B1&display=swap');
.sidedrawer {
    grid-area: a;
    display: grid;
    place-items: center;
  }
  .sd-sec1 {
    background-image: url("https://s3.ap-south-1.amazonaws.com/rahulahire.com/white-wall-texture.jpg");
  }
  .sd-wrapper {
    width: 95%;
    text-align: left;
    margin-left: 16px;
    margin-right: 16px;
  }
  .sd-wrapper h1 {
    font-family: "Architects Daughter";
    font-size: 2rem;
  }
  .sd-wrapper p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .vid-container {
    grid-area: b;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .video {
    position: absolute;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .vid1-dimmer {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 239, 246, 0.25);
    position: absolute;
  }
  .mob-drawer {
    grid-area: c;
    display: grid;
    place-items: center;
    display: none;
  }
  .sd-mobi {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .sec-container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-rows: 6fr 4fr;
    grid-template-areas:
      "a b"
      "a b";
  }
  .sd-sec2 {
    background-color: #0f0f0f;
    color: #f7f7f7;
  }
  .sd-sec2 h3 {
    font-family: "Righteous";
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .sd-sec2 a {
    color: white;
  }
  #vid3 {
    zoom: 0.1;
  }
  .sd-sec3 {
    background-color: #0f0f0f;
    color: #f7f7f7;
  }
  .sd-sec3 h3 {
    font-family: "Righteous";
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  #vid4 {
    zoom: 0.1;
  }
  .sd-4 {
    background-color: #fadfb3;
    color: #0f0f0f;
  }
  .sd-5 {
    background-color: #454c6e;
    color: #f7f7f7;
  }
  .pink-wrap {
    height: 300px;
    width: 100%;
    background-image: url("https://s3.ap-south-1.amazonaws.com/rahulahire.com/pink-paint-brush-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #0f0f0f;
    display: grid;
    place-items: center;
  }
  .pink-wrap h3 {
    font-family: "Lobster Two", cursive;
    font-size: 3rem;
    text-align: center;
  }
  .future{
    min-height: 500px;
    max-height: auto;
    width: 100%;
    background: linear-gradient(135deg, #0177D9, #1F3FAB);
    display: grid;
    place-items: center;
  }
  .future-wrap{
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 1000px;
  }
  .future p{
    color: white;
    font-size: 1.25rem;
    font-family: 'Righteous';
    text-align: center;
  }
  .future li{
    font-family: "Open Sans", sans-serif;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    margin-top: 10px;
    font-size: 1rem;
  }
  .future a{
    color: white;
  }
  .footer{
    background: #0f0f0f;
    height: 400px;
    width: 100;
    display: flex;
    align-items: center;
    justify-content: left;

  }
  .footer-wrap{
    color: #f7f7f7;
    font-family: 'Open Sans';
    font-size: 1rem;
    max-width: 500px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .email{
    font-size: 1.5rem;
  }
  .email a{
    color: #39FF14;
    
  
  }
  .social-links{
    width: 250px;
    display: flex;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2fr);
    grid-template-rows: repeat(2fr);
    grid-gap: 10px

  }
  .social-links a{
    color: #f7f7f7;
    text-decoration: none;
  }
  .l1{
    grid-area: l1;
  }
  .links img{
    margin-right: 5px;
  }

  .footer  img{
    height: 16px;
  }
  @media screen and (max-width: 550px) {
    .sec-container {
      grid-template-areas:
        "b b"
        "c c";
    }
    .sidedrawer {
      display: none;
    }
    .mob-drawer {
      display: grid;
    }
    .video {
      zoom: 0.5;
    }
    .future{
    height: 900px;
  }
  }
  @media screen and (max-height: 550px) {
    .sec-container {
      grid-template-columns: 4fr 6fr;
    }
    .video {
      zoom: 0.5;
    }
    .sd-wrapper h1 {
      font-family: "Architects Daughter";
      font-size: 1.9rem;
    }
    .sd-sec2 h3 {
      font-family: "Righteous";
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  }