@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html{
  scroll-behavior: smooth;
}

.background-blur {
  height: 100vh;
  width: 0%;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(17px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.18);
  position: fixed;
  transition: all 0.3s ease-in;
  z-index: 102;
  right: 0;
}
.bb-toggle {
  width: 100%;
}
.burger {
  width: 70px;
  height: 70px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 104;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background: linear-gradient(145deg, #272727, #1b1b1b);
  border-radius: 100%;
  box-shadow: inset 30.03px 30.03px 35px #191919,
    inset -30.03px -30.03px 35px #292929;
}
.burger div {
  width: 25px;
  height: 2.5px;
  margin: 4px;
  background-color: #f7f7f7;
  transition: all 0.3s ease;
  outline: none;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7.5px, 7.5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-7.5px, -7.5px);
}

.navbar-sec {
  width: 00px;
  height: 100%;
  background-color: #212121;
  position: fixed;
  right: 0;
  z-index: 103;
  transition: width 0.5s cubic-bezier(0.86, 0, 0.48, 1);
  display: grid;
  place-items: center;
}
.navSec-toggle {
  width: 300px;
}
.nav-wrapper {
  height: 500px;
  margin-left: 3rem;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  text-align: left;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;

  color: rgba(255, 255, 255, 0);
  transition: color 0.2s ease-out;
}
.navWrap-toggle {
  color: #f7f7f7;
}
.nav-wrapper ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  list-style: none;
  transition: all 0.3s ease-in;
  
}
.nav-wrapper li{
  outline: none;
}
.nav-wrapper a {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
  color: #f7f7f7;
  text-decoration: none;
  outline: none;
}
.nav-wrapper a:hover {
  color: #ff6e40;
  /* font-weight: bold; */
}
@media screen and (max-height: 400px) {
  .navbar-sec {
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
