*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.container{
    min-height: 100vh;
    width: 100vw;
    background-color: #0f0f0f;
}
.top{
    display: grid;
    place-items: center;
    width: 100%;
    height: 200px;
}
.top-wrap{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    color: #f7f7f7;
    width: 80%;
    text-align: center;
    

}
.top a{
    color: #00ffff;
    text-decoration: none;

}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;

}
.box{
    width: 300px;
    min-height: 400px;
    display: grid;
    place-items: center;

}
.box-wrap{
    width: 300px;
    min-height: 300px;
    background-color: #212121;
    
}
.head{
    color: #f7f7f7;
    font-weight: bold;
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;

}
.select{
    margin: 1.1rem;
    color: #f7f7f7;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    
}
.select select{
    outline: none;
    height: 30px;
    width: 80%;
    margin-top: 0.2rem;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    background-color:#3F51B5 ;
    border:0;
    color: #f7f7f7;
}
.req{
    margin: 1rem;
    color: #f7f7f7;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
    
}
.req input{
    margin-top: 0.2rem;
    outline: none;
    color: #f7f7f7;
    height: 30px;
    background: none;
    border: 2px solid #f7f7f7;
    padding-left: 1rem;
    width: 80%;
    border-radius: 5px;
    color: #f7f7f7;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}
.submit{
    margin: 1rem;
    margin-top: 1.5rem;

}
.submit button{
    height: 30px;
    width: 50%;
    background-color: #3F51B5;
    outline: none;
    border: 0;
    color: #f7f7f7;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;

}
.res{
    margin-top: 0.5rem;
    color: #f7f7f7;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: none;
}
.res div{
    
    color: #f7f7f7;
    /* height: 30px; */
    background: none;
    
    padding-left: 1rem;
    width: 50px;
   
    color: #f7f7f7;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    
}


.wrap-wcu{
    height: 329px;
}

@media screen and (max-width:768px) {
    .flex-box{
        flex-direction: column;
    }
    .top-wrap{
        font-size: 1.3rem;
        width: 70%;
    }
    .tweet-box{
        
        margin-top: 30px;
        padding-bottom: 20px;
    
    }
}
.tweet-box{
    width: 100%;
    font-family: sans-serif, open;
    text-align: center;
    color: #f7f7f7;
    padding-bottom: 20px;
    font-size: 1.1rem;

}
.tweet-box a{
    color: #00ffff;
    text-decoration: none;
    cursor: progress;

}