html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    /* overflow: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lato:wght@300;400&family=Lobster+Two&family=Open+Sans:wght@400;500&family=Righteous&family=Shippori+Antique+B1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@font-face {
  font-family: "Gilroy";
  font-weight: normal;
  src: url("https://s3.ap-south-1.amazonaws.com/rahulahire.com/Gilroy-Bold.woff");
}
.plyr{
  /* width: auto; */
  height: 300px;
  /* width: 300px; */
}
@media screen and (max-width: 550px) {
  .plyr{
    height: 150px;
  }
}
.index{
  display: none;
}
.font{
  font-family: 'Lato', sans-serif;
}